table {
    width: 100%;
    margin-top: 20px;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 20%;
    margin-right: 80%;
    margin-top: 3%;
  }
  
  td, th {
    width: 25%;
  }

.mat-elevation-z8{
    width: 70%;
    display: inline-block;
}

th.mat-header-cell {
    cursor: pointer;
  }
  
  .mat-sort-header-arrow {
    opacity: 1 !important;
  }


  section {
   text-align: justify;
   margin-left: 15%;
  }
  
 